
.markup_circle{
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-background-color: rgba(0, 200, 255, 0.8);
    -fx-cursor: hand;
    -fx-border-color: red;
    -fx-border-width: 2px;
}

.markup_line{
    -fx-stroke-width: 2;
    -fx-stroke: white;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}

.markup_length{
    -fx-background-color: transparent;
    -fx-font-size: 15px;
    -fx-text-fill: black;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, white , 2 , 2.0 , 0 , 0 );
    -fx-border-color: rgba(0, 200, 255, 0.8);
}

.markup_line:hover{
    -fx-stroke-width: 5;
}
